<%- include('./partials/header') %>

<h1>About</h1>

<p>Recipebook website created by Valerie Komova for General Assembly Project 2. It is designed to help store all your recipes in one place where you can add, delete, and comment on recipes. </p><br><br>

<%- include('./partials/footer') %>

</body>

</html>