<%- include('./partials/header') %>

<h1>About</h1>

<p>Recipebook website created by Valerie Komova for General Assembly Project 2. It is designed to help store all your recipes in one place where you can add, delete, and comment on recipes. </p><br>
<p>About Me:<br>
    I am a front and back end web developer who is constantly seeking new knowledge and best solutions to the most complicated problems; I like simplifying other people’s lives. I am passionate about culture and diversity, and I love working with people of all backgrounds. I bring honesty, professionalism, and reliability to the table. I welcome new challenges and am motivated to grow and learn every day.

    <br><br>
    TECHNICAL SKILLS:
    JavaScript | NodeJS | Express | Mongoose | MongoDB | NoSQL database | SQL database | CSS | Bootstrap | HTML | jQuery | APIs | OAuth | Terminal | GitHub | Heroku | JSON | MVC | Photoshop | Advanced Data Structures | Full-Stack applications | Full CRUD functionalities | RESTful APIs | MERN Stack |</p><br><br>

<%- include('./partials/footer') %>
