<%- include('./partials/header') %>


  <h1>Welcome</h1>
  <p>Welcome to Recipe Books!</p>
  <p>Dicover delicious paleo recipes! Or create your own. Set them to public or private and comment on others' receipes.</p>

    <div class="navbar-fixed">

    </div>
    <% if (user) { %>
      <%- include('./partials/addrecipe') %>
    <% } else { %>

    <% } %>
  

  <%- include('./partials/footer') %>
  
  <script>
    $(document).ready(() => {
      $('.button-collapse').sideNav();
      $('select').material_select();
    });
  </script>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</body>

</html>