body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

main {
  flex: 1 0 auto;
}

#addbody {
  background-image: url("http://www.zingerbug.com/Backgrounds/background_images/starry_sky_glitter_background_seamless.gif");
  background-repeat: repeat;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color : #f88379;
  font-size: 16px;
}

.myButton {
	background-color:#f88379;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.myButton:hover {
	background-color:#eb675e;
}

.myButton:active {
	position:relative;
	top:1px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select select {
  font-family: 'Arial';
  display: inline-block;
  width: 10%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 2px solid #ffffff;
  border-radius: 25px;
  background: #f88379;
  color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: #ffffff;
    background: #f88379;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}