<!DOCTYPE html>
<html>

<head>
  <title>Add Recipe</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script defer
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>
</head>

<div class="row" id="addbody">
    <h1>Edit Recipe</h1>
    <form action="/recipes/<%=recipes._id%>" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" value="<%= recipes.title %>">
                <label for="title">Recipe Name</label>
            </div>
        </div><br>

        <div class="row">
            <div class="select">
                <select name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                </select>
                <label for="status">Select Status</label>
            </div>
        </div>

        <div class="row">
            <p>
                <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked">
                <label for="filled-in-box">Allow Comments</label>
            </p>
        </div>

        <div class="row">
            <div class="input-field">
                <h4>Edit Details</h4>
                <textarea name="body"><%= recipes.body %></textarea>
            </div>
        </div><br>

        <input type="submit" value="Save" class="myButton">
    </form>
</div>

    <script>
        CKEDITOR.replace('body');
    </script>
   
</html>